## Ejemplo 4: Identificación y conteo de NaNs

### 1. Objetivos:
    - Aprender a identificar NaNs
    - Aprender a realizar conteo de NaNs por fila y por columna
 
---
    
### 2. Desarrollo:

Los `NaNs` se ven así:

In [3]:
import pandas as pd
import numpy as np

In [4]:
datos = {
    'precio': [34, 54, np.nan, np.nan, 56, 12, 34],
    'cantidad_en_stock': [3, 6, 14, np.nan, 5, 2, 10],
    'productos_vendidos': [3, 45, 23, np.nan, 24, 6, np.nan]
}

df = pd.DataFrame(datos, index=["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele"])

In [5]:
df

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster             34.0                3.0                 3.0
Cegatron               54.0                6.0                45.0
Pikame Mucho            NaN               14.0                23.0
Lazarillo de Tormes     NaN                NaN                 NaN
Stevie Wonder          56.0                5.0                24.0
Needle                 12.0                2.0                 6.0
El AyMeDuele           34.0               10.0                 NaN

Para contarlos podemos usar una función vectorizada llamada `isna`, que nos regresa esto:

In [6]:
df.isna()

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster            False              False               False
Cegatron              False              False               False
Pikame Mucho           True              False               False
Lazarillo de Tormes    True               True                True
Stevie Wonder         False              False               False
Needle                False              False               False
El AyMeDuele          False              False                True

`isna` regresa `True` cuando encuentra un `NaN` y `False` cuando el valor es válido.

Después, podemos contar cuántos `NaNs` existen usando la agregación `sum`, que suma `1` por cada `True` y `0` por cada `False`:

In [8]:
df.isna().sum(axis=0)

precio                2
cantidad_en_stock     1
productos_vendidos    2
dtype: int64

Con `axis=0` nos regresa el conteo por columnas. Con `axis=1` nos regresa el conteo por filas:

In [9]:
df.isna().sum(axis=1)

Pokemaster             0
Cegatron               0
Pikame Mucho           1
Lazarillo de Tormes    3
Stevie Wonder          0
Needle                 0
El AyMeDuele           1
dtype: int64

Practiquemos rápidamente esto antes de aprender a deshacernos de estos `NaNs`.