## Ejemplo 4: `apply`

### 1. Objetivos:
    - Usar `apply` para aplicar funciones a `Series` y `DataFrames`
 
---
    
### 2. Desarrollo:

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../../Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)

df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

Podemos aplicar funciones a nuestras `Series` con el m√©todo `apply`:

In [26]:
def years_since_bestseller(value):
    
    as_datetime = pd.to_datetime(value, unit='ms')
    today = pd.to_datetime('today')
    difference_in_days = (today - as_datetime).days
    in_years = difference_in_days / 365
    
    return in_years

In [27]:
df['published_date.numberLong'].apply(years_since_bestseller)

0       11.975342
1       11.975342
2       11.975342
3       11.975342
5       11.975342
          ...
3027     7.065753
3028     7.065753
3029     7.065753
3030     7.065753
3031     7.065753
Name: published_date.numberLong, Length: 2266, dtype: float64

O esta otra:

In [35]:
def weeks_on_list_percentage_of_maximum(value, max_weeks_on_list):
    
    percentage = value * 100 / max_weeks_on_list
    as_string = f'{percentage:.2f}%'
    
    return as_string

In [49]:
df['weeks_on_list.numberInt'].apply(weeks_on_list_percentage_of_maximum, args=(df['weeks_on_list.numberInt'].max(),))

0       2.78%
1       1.85%
2       0.93%
3       0.93%
5       2.78%
        ...
3027    1.85%
3028    4.63%
3029    1.85%
3030    0.93%
3031    7.41%
Name: weeks_on_list.numberInt, Length: 2266, dtype: object

Veremos c√≥mo usar `apply` en `DataFrames` en un m√≥dulo posterior, ya que este dataset no se presta mucho para eso.