## Ejemplo 5: Manipulación de columnas

### 1. Objetivos:
    - Aprender a crear nuevas columnas en un `DataFrame`
    - Aprender a reasignar columnas
    - Aprender a eliminar columnas
 
---
    
### 2. Desarrollo:

In [6]:
import pandas as pd

Tenemos aquí un `DataFrame`:

In [7]:
datos = {
    "Nombre": ["Pepinillo Hernández", "Lúpulo de Dios", "Juan Juon", "Jimmy el Patatas", "Lorenzo Retaguardias"],
    "Cereal favorito": ["Korn Floks", "Verdurinis", "Zumbaritas", "Diabetukis, Papá", "Fibra Máxima 3000"],
    "Hora del desayuno": ["11:00", "07:30", "07:00", "08:30", "09:30"]
}

df = pd.DataFrame(datos)

In [8]:
df

                 Nombre    Cereal favorito Hora del desayuno
0   Pepinillo Hernández         Korn Floks             11:00
1        Lúpulo de Dios         Verdurinis             07:30
2             Juan Juon         Zumbaritas             07:00
3      Jimmy el Patatas   Diabetukis, Papá             08:30
4  Lorenzo Retaguardias  Fibra Máxima 3000             09:30

Podemos agregar nuevas columnas a nuestros `DataFrames` con una sintaxis muy parecida a la de los `diccionarios`:

In [9]:
df["Fruta con la que acompaña el cereal"] = pd.Series(['Pera', 'Manzana', 'Plátano', 'Guayaba', 'Pizza'])

In [10]:
df

,Nombre,Cereal favorito,Hora del desayuno,Fruta con la que acompaña el cereal
0,Pepinillo Hernández,Korn Floks,11:00,Pera
1,Lúpulo de Dios,Verdurinis,07:30,Manzana
2,Juan Juon,Zumbaritas,07:00,Plátano
3,Jimmy el Patatas,"Diabetukis, Papá",08:30,Guayaba
4,Lorenzo Retaguardias,Fibra Máxima 3000,09:30,Pizza

Podemos usar la misma sintaxis para asignar una nueva `Serie` a una columna existente:

In [11]:
df["Hora del desayuno"] = pd.Series(["10:30", "06:30", "06:00", "07:00", "08:00"])

df

,Nombre,Cereal favorito,Hora del desayuno,Fruta con la que acompaña el cereal
0,Pepinillo Hernández,Korn Floks,10:30,Pera
1,Lúpulo de Dios,Verdurinis,06:30,Manzana
2,Juan Juon,Zumbaritas,06:00,Plátano
3,Jimmy el Patatas,"Diabetukis, Papá",07:00,Guayaba
4,Lorenzo Retaguardias,Fibra Máxima 3000,08:00,Pizza

También podemos eliminar una columna usando el siguiente método:

In [12]:
df.drop(columns=['Fruta con la que acompaña el cereal'])

                 Nombre    Cereal favorito Hora del desayuno
0   Pepinillo Hernández         Korn Floks             10:30
1        Lúpulo de Dios         Verdurinis             06:30
2             Juan Juon         Zumbaritas             06:00
3      Jimmy el Patatas   Diabetukis, Papá             07:00
4  Lorenzo Retaguardias  Fibra Máxima 3000             08:00

Recuerda que estos métodos sólo regresan "vistas". Para que el cambio permanezca, tenemos que asignar el resultado de la operación a la variable `df` o a alguna otra variable:

In [13]:
df_dropped = df.drop(columns=['Fruta con la que acompaña el cereal'])

df

,Nombre,Cereal favorito,Hora del desayuno,Fruta con la que acompaña el cereal
0,Pepinillo Hernández,Korn Floks,10:30,Pera
1,Lúpulo de Dios,Verdurinis,06:30,Manzana
2,Juan Juon,Zumbaritas,06:00,Plátano
3,Jimmy el Patatas,"Diabetukis, Papá",07:00,Guayaba
4,Lorenzo Retaguardias,Fibra Máxima 3000,08:00,Pizza

In [14]:
df_dropped

                 Nombre    Cereal favorito Hora del desayuno
0   Pepinillo Hernández         Korn Floks             10:30
1        Lúpulo de Dios         Verdurinis             06:30
2             Juan Juon         Zumbaritas             06:00
3      Jimmy el Patatas   Diabetukis, Papá             07:00
4  Lorenzo Retaguardias  Fibra Máxima 3000             08:00